<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>服务器主机管理</title>
    {% load static %}
    <script src={% static "server/js/jquery-3.3.1.min.js" %}></script>
    <script src={% static "server/js/gijgo.min.js" %}></script>
    <link rel="stylesheet" href={% static "server/css/gijgo.min.css" %}>
    <link rel="stylesheet" href={% static "server/css/bootstrap4.min.css" %} integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href={% static "server/css/font-awesome.min.css" %} rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <form class="form-inline">
                    <input id="txtKeyword" type="text" placeholder="查找...."" class="form-control mb-2 mr-sm-2 mb-sm-0" />                    
                    <button id="btnSearch" type="button" class="btn btn-default">查找</button>
                    <button id="btnClear" type="button" class="btn btn-default">重置</button>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-12">
                <table id="grid"></table>
            </div>
        </div>
        <script type="text/javascript">
            var grid, dialog;
            function Edit(e) {
                $('#ID').val(e.data.id);
                $('#Name').val(e.data.record.Name);
                $('#PlaceOfBirth').val(e.data.record.PlaceOfBirth);
                dialog.open('Edit Player');
            }
            function Delete(e) {
                if (confirm('Are you sure?')) {
                    $.ajax({ url: '/Players/Delete', data: { id: e.data.id }, method: 'POST' })
                        .done(function () {
                            grid.reload();
                        })
                        .fail(function () {
                            alert('Failed to delete.');
                        });
                }
            }
            $(document).ready(function () {
                grid = $('#grid').grid({
                    primaryKey: 'ID',
                    dataSource: '/api/hosts',
                    uiLibrary: 'bootstrap4',
                    columns: [
                        { field: 'ID', width: 48, hidden: true },
                        { field: 'Name'},
                        { field: 'PlaceOfBirth', title: 'Place Of Birth', sortable: true },
                        { title: '', field: 'Edit', width: 42, type: 'icon', icon: 'fa fa-pencil', tooltip: 'Edit', events: { 'click': Edit } },
                        { title: '', field: 'Delete', width: 42, type: 'icon', icon: 'fa fa-remove', tooltip: 'Delete', events: { 'click': Delete } }
                    ],
                    pager: { limit: 5, sizes: [2, 5, 10, 20] }
                });
                $('#btnSearch').on('click', function () {
                    grid.reload({ name: $('#txtName').val(), placeOfBirth: $('#txtPlaceOfBirth').val() });
                });
                $('#btnClear').on('click', function () {
                    $('#txtName').val('');
                    $('#txtPlaceOfBirth').val('');
                    grid.reload({ name: '', placeOfBirth: '' });
                });
            });
        </script>
</body>
</html>