[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0"
markdown = "*"
djangorestframework = "*"
django-filter = "*"
pylint = "*"
mysqlclient = {path = "./mysqlclient-1.3.13-cp37-cp37m-win_amd64.whl"}

[dev-packages]
"autopep8" = "*"
pylint = "*"

[requires]
python_version = "3.7"
