<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Nested jQuery Grids</title>
    <meta charset="utf-8" />
    <script src={% static "js/jquery-3.3.1.min.js" %}></script>
    <script src={% static "js/gijgo.min.js" %}></script>
    <link href={% static "css/gijgo.min.css" %}rel="stylesheet" type="text/css" />
    <link href={% static"css/bootstrap.min.css" %}rel="stylesheet" type="text/css" />

</head>
<body class="body">
    <audio src={% static "audio/xin.mp3" %} loop="loop" autoplay="autoplay">
    </audio>
    <div class="container-full">
        <a href="../" id="toggle-sidebar"><img src="{% static "img/tubiao.png" %}"></a>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-1">
                <div class="input-group">
                    <input id="txtSeach" type="text" placeholder="Name..." class="form-control" />
                    <span class="input-group-btn">
                            <button id="btnSearch" type="button" class="btn btn-default">查询</button>
                            <button id="btnClear" type="button" class="btn btn-default">重置</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="grid" class="table table-hover"></table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).keydown(function (event) {
            if (event.keyCode === 13) {
                $("#btnSearch").triggerHandler("click");
            }
        });
        $(document).ready(function () {
            var grid = $('#grid').grid({
                primaryKey: 'name',
                dataSource: '/xxxt/api/downloads',
                columns: [
                    { field: 'id', width: 56, hidden: true },
                    { field: 'name', title: '系统名称' },
                    { field: 'vendor', title: '供应商' },
                    { field: 'phone', title: '电话' },
                    { field: 'comment', title: '描述' }
                ],
                detailTemplate: '<div><table/></div>'
            });
            $('#btnSearch').on('click', function () {
                grid.reload({ chazhao: $('#txtSeach').val()});
            });
            $('#btnClear').on('click', function () {
                $('#txtSeach').val('');
                grid.reload({ chazhao: '' });
            });
            grid.on('detailExpand', function (e, $detailWrapper, name) {
                $detailWrapper.find('table').grid({
                    dataSource: '/xxxt/api/sysdownloads?chazhao=' + name,
                    columns: [
                        { field: 'id', hidden: true },
                        { field: 'system', hidden: true },
                        { field: 'name', title: '名称' },
                        { field: 'url', title: '链接', type : 'text',
                            events: {
                            'click': function (e) {
                                $(window.location).attr('href', e.data.record.url);
                                } 
                            }
                        }
                    ],
                });
            });
            grid.on('detailCollapse', function (e, $detailWrapper, id) {
                $detailWrapper.find('table').grid('destroy', true, true);
            });
        });
    </script>
</body>

</html>